body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    /* width: 400px; */
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
